	<div class="wrapper">
		<div class="temp-con">
			<div class="temp1-style">
	<%= form_tag save_form_templates_path,:method => :post, :id => "template_form" do %>
	<div class="test">

<p><%= text_field_tag "temp1", @x[0] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab1",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select1" %> </p>
<p><%= text_field_tag "temp2", @x[1] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab2",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select2" %> </p>
<p><%= text_field_tag "temp3", @x[2] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab3",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select3" %> </p>
<p><%= text_field_tag "temp4", @x[3] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab4",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select4" %> </p>
<p><%= text_field_tag "temp5", @x[4] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab5",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select5" %> </p>
<p><%= text_field_tag "temp6", @x[5] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab6",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select6" %> </p>
<p><%= text_field_tag "temp7", @x[6] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab7",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select7" %> </p>
<p><%= text_field_tag "temp8", @x[7] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab8",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select8" %> </p>
<p><%= text_field_tag "temp9", @x[8] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab9",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select9" %> </p>
<p><%= text_field_tag "temp10", @x[9] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab10",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select10" %> </p>
<p><%= text_field_tag "temp11", @x[10] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab11",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select11" %> </p>
<p><%= text_field_tag "temp12", @x[11] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab12",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select12" %> </p>
<p><%= text_field_tag "temp13", @x[12] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab13",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select13" %> </p>
<p><%= text_field_tag "temp14", @x[13] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab14",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select14" %> </p>
<p><%= text_field_tag "temp15", @x[14] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab15",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select15" %> </p>
<p><%= text_field_tag "temp16", @x[15] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab16",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select16" %> </p>
<p><%= text_field_tag "temp17", @x[16] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab17",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select17" %> </p>
<p><%= text_field_tag "temp18", @x[17] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab18",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select18" %> </p>
<p><%= text_field_tag "temp19", @x[18] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab19",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select19" %> </p>
<p><%= text_field_tag "temp20", @x[19] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab20",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select20" %> </p>
<p><%= text_field_tag "temp21", @x[20] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab21",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select21" %> </p>
<p><%= text_field_tag "temp22", @x[21] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab22",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select22" %> </p>
<p><%= text_field_tag "temp23", @x[22] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab23",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select23" %> </p>
<p><%= text_field_tag "temp24", @x[23] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab24",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select24" %> </p>
<p><%= text_field_tag "temp25", @x[24] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab25",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select25" %> </p>
<p><%= text_field_tag "temp26", @x[25] ,:id=>"temp1" %>&nbsp;<%= select_tag "tab26",options_for_select(MasterTable.all.collect {|val| [@a=val.name, val.name]}),:id=>"select26" %> </p>

<%= submit_tag "Submit" , :id=>"sub" %><br/>
<% end %>
</div>
</div>
</div>