<%- model_class = Home -%>
<div class="welcome-container">
<div class="page-header">
  <h1>Welcome <%= "#{current_user.first_name}" %>&nbsp; <%"#{current_user.last_name}" %></h1>
</div>
<% @time=DateTime.now.day %>
<% if current_user.role.present? && current_user.role.name=="admin"%>
<% @date = Date.today  %>  
<b><u> Upload Details of <%= @date.strftime("%B")%><%= @date.strftime("%Y")%> </u></b>
<div  style="height:500px; width:100%; overflow:auto">
<table class="table table-striped" border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>      
      <th>Csv Details</th> 
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <% user.templates %>        
 <% @arr = [] %>
<% @in = Information.where('created_at BETWEEN ? AND ? AND user_id=?',  "#{DateTime.now.in_time_zone.beginning_of_month.day}", "#{DateTime.now.in_time_zone.end_of_month.day}", "#{user.id}")
  %>
   <% @in.each { |u| @arr << "#{u.created_at}" }%>
    <% @uni_val = @arr.uniq %>
      <tr>        
        <td><%= user.first_name%>&nbsp;<%= user.last_name%></td>
        <td><%= user.email %></td>        
        <% if @uni_val.present? %>
        <% @uni_val.each do |time| %>
        <td>Uploaded on <%= time %>th of this month</td>
        <% end %>
        <% else %>
        <td style="color:red">Data not uploaded</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
<%= link_to "Field Mapping", templates_path%>&nbsp;&nbsp;
<%= link_to "Data Conversion", information_index_path %>

<% end %>
</div>